/* ↓User name input form↓ */

.PopUpDiv {
    display: none;
    position: fixed;
    top: 0;
    z-index: 10309;
    background-color: rgba(0, 0, 5, .5);
    width: 100%;
    height: 100%;
}

.pupUp-container {
    text-align: center;
    background-color: #ffffff;
    border: 3px solid #f1f1f1;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    margin-top: 25vh;
    min-height: 60vh;
}

.inputName {
    border: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.btnDiv {
    margin-top: 20px;
    z-index: 1;
}

.btn-cancel {
    float: left;
    width: 150px;
    margin-top: 10px;
}

.btn-next {
    float: right;
    width: 150px;
    margin-top: 10px;
}

/* message when input is not filled in */

.noNameMessage {
    display: none;
    position: absolute;
    left: 60%;
    top: 38%;
    background-color: #ffffff;
    z-index: 1;
    border: .5px solid #555500;
    border-left: none;
    font-size: 1rem;
    padding: 10px;
    padding-left: 0;
    border-radius: 35px;
}

.attentionIcon {
    color: #ffa500;
}

.narrowIcon {
    color: black;
    padding-right: 20px;
    margin-left: -10px;
}

/* ↑User name input form↑ */

.btnInGroup {
    margin: 10px;
}

.settChsCategor{
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    border-radius: .25rem;
    padding: 10px;
}

.settChsCategor button {
    margin-bottom: 5px;
}

/* User name input form - message when input is not filled in  - position for small screen*/

@media(max-width:311px) {
    .noNameMessage {
        top: 45%;
    }
    .inputName {
        width: 80%;
    }

}

@media(max-width:366px) {
    .btn-cancel {
        float: none;
        width: 150px;
        margin-top: 10px;
    }
    
    .btn-next {
        float: none;
        width: 150px;
        margin-top: 10px;
    }
}

/* gameBoard */

.gameSection {
    margin-top: 5%;
    display: none;
}
 #menuGroupBtns {
     background-color: #007bff;
     text-align: center;
 }

 #menuGroupBtns button {
     margin: 0.1rem;
     width: 10rem;
 }

.gameBoard {
    background-color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    padding: 1rem;

}
.gameBoard h5 {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 1px solid #4949e6;
    border-bottom: none;
}

.gameBoardTable {
    min-height: 50vh;
    color: #330867;
    background-image: url(../images/emptyCard.jpg);
    background-size: cover;
    text-align: center;

}
/* start game button */
.startBtn {
    width: 10rem;
    margin-top: 7rem;
}

#alphabetSayStatus {
    display: none;
}

/* moving letters source https://tobiasahlin.com/moving-letters/#4 */

.xyzLetters {
    font-size: 0;
}

.transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
  }

  .transform-active {
      font-size: 3rem;
  }


#letterChoos {
    height: 3rem;
}

#startInit {
    height: 3.5rem;
    display: inline-block;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
    margin-left: 3rem;
}

.showLetter {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
}