
/* ↓User name input form↓ */
.usrNamePopUp {
    display: none;
    position: fixed;
    top:0;
    z-index: 10309;
    background-color: rgba(0,0,5,.5);
    width: 100%;
    height: 100%;
}
.form-container {
    text-align: center;
    background-color: #ffffff;
    border: 3px solid #f1f1f1;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    margin-top: 25vh;
    min-height: 50vh;
  }

.inputName {
    border: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.btnDiv {
    margin-top: 10px;
    z-index: 1;
}
.btn-cancel {
    float: left;
    width: 150px;
    margin-top: 10px;
}
.btn-next {
    float: right;
    width: 150px;
    margin-top: 10px;
}
/* message when input is not filled in */
.noNameMessage {
    display: none;
    position: absolute;
    left: 60%;
    top: 38%;
    background-color: #ffffff;
    z-index: 1;
    border: .5px solid #555500;
    border-left: none;
    font-size: 1rem;
    padding: 10px;
    padding-left: 0;
    border-radius: 35px;
}

.attentionIcon {
    color: #ffa500;
}
.narrowIcon {
    color: black;
    padding-right: 20px;
    margin-left: -10px;
}


/* ↑User name input form↑ */


/* User name input form - message when input is not filled in  - position for small screen*/
@media(max-width:311px) {
    .noNameMessage {
        top: 45%;
    }
}











.gameBoard {
    width: 90vw;
    height: 50vh;
    margin: 5vw;
    background-image: url(../images/emptyCard.jpg);
    background-size: cover;
}

.categoryRow {
    overflow: hidden;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    color: #330867;
}

th {
    width: 12.5%;
    text-align: left;
    height: 40px;
    margin-left: 5%;

}


.bottomLine {
    border-bottom: 3px solid #330867;
    width: 0;    
    animation-name: drawLine;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

@keyframes drawLine {
    from {width: 0;}
    to {width: 100%;}
}



canvas {
    width: 100%;
    background-image: url(../images/emptyCard.jpg);
    background-size: cover;
    z-index: -1;
}