body {
    margin: 0;
    padding: 0;
    background-image: url("../images/notebook_pen.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat',sans-serif;
}


/* Header */
header {
    background-size: cover;
    color: white;
    margin: 0;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
    border-bottom: 3px solid black;
}

.mainHeading {
    text-transform: uppercase;
    text-align: center;
}


/* Top Section */

.TopSection {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


/* article game history */

.gameHisotry {
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 5%;
    border-radius: 15%;
}


/* footer */
.mainFooter {
    width: 100%;
    height: 10vh;
    color: white;
    border-top: 4px solid black;
    padding-top: 20px;
}

.footerMenuList {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.footerMenuList li {
    display: inline-flex;
    padding-left: 30px;
}

.footerMenuList li a {
    text-decoration: underline;
    color: white;
}

.mainFooter span {
    color: #6e6e6e;
    font-weight: bold;
}








.gameBoard {
    width: 90vw;
    height: 50vh;
    margin: 5vw;
    background-image: url(../images/emptyCard.jpg);
    background-size: cover;
}

.categoryRow {
    overflow: hidden;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    color: #330867;
}

th {
    width: 12.5%;
    text-align: left;
    height: 40px;
    margin-left: 5%;

}


.bottomLine {
    border-bottom: 3px solid #330867;
    width: 0;    
    animation-name: drawLine;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

@keyframes drawLine {
    from {width: 0;}
    to {width: 100%;}
}



canvas {
    width: 100%;
    background-image: url(../images/emptyCard.jpg);
    background-size: cover;
    z-index: -1;
}