body {
    margin: 0;
    padding: 0;
}
.gameBoard {
    width: 90vw;
    height: 50vh;
    margin: 5vw;
    background-image: url(../images/emptyCard.jpg);
    background-size: cover;
}

.gameTable {
    width: 100%;

}

.categoryRow {
    overflow: hidden;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    color: #330867;

}
